/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

/* Global.css */
.light {
  --border-strong: #647176;
  --border-default: #eaedee;
  --background-default: #fdfdfd;
  --text-brand: #51636b;
  --background-brand-default: #51636b;
  --text-default: #000d12;
  --search-default: #15272f;
  --text-secondary: #3c494e;
  --border-brand: #007763;
  --background-brand-tertiary: #daf2eb;
}

/* Define dark mode styles */
.dark {
  --border-strong: #8d9fa7;
  --border-default: #15272f;
  --background-default: #000d12;
  --text-brand: #00b39f;
  --background-brand-default: #00b39f;
  --text-default: #fdfdfd;
  --search-default: #e7eff3;
  --text-secondary: #eaedee;
  --border-brand: #8d9fa7;
  --background-brand-tertiary: #00403f;
}

@font-face {
  font-family: 'Qanelas Soft Black';
  src: url('../assets/fonts/qanelas-soft/QanelasSoftBlack.otf') format('opentype');
}

@font-face {
  font-family: 'Qanelas Soft Black Italic';
  src: url('../assets/fonts/qanelas-soft/QanelasSoftBlackItalic.otf') format('opentype');
}

@font-face {
  font-family: 'Qanelas Soft Heavy';
  src: url('../assets/fonts/qanelas-soft/QanelasSoftHeavy.otf') format('opentype');
}

@font-face {
  font-family: 'Qanelas Soft Heavy Italic';
  src: url('../assets/fonts/qanelas-soft/QanelasSoftHeavyItalic.otf') format('opentype');
}

@font-face {
  font-family: 'Qanelas Soft ExtraBold';
  src: url('../assets/fonts/qanelas-soft/QanelasSoftExtraBold.otf') format('opentype');
}

@font-face {
  font-family: 'Qanelas Soft ExtraBold Italic';
  src: url('../assets/fonts/qanelas-soft/QanelasSoftExtraBoldItalic.otf') format('opentype');
}

@font-face {
  font-family: 'Qanelas Soft Bold';
  src: url('../assets/fonts/qanelas-soft/QanelasSoftBold.otf') format('opentype');
}

@font-face {
  font-family: 'Qanelas Soft Bold Italic';
  src: url('../assets/fonts/qanelas-soft/QanelasSoftBoldItalic.otf') format('opentype');
}

@font-face {
  font-family: 'Qanelas Soft';
  src: url('../assets/fonts/qanelas-soft/QanelasSoftSemiBold.otf') format('opentype');
}

@font-face {
  font-family: 'Qanelas Soft SemiBold Italic';
  src: url('../assets/fonts/qanelas-soft/QanelasSoftSemiBoldItalic.otf') format('opentype');
}

@font-face {
  font-family: 'Qanelas Soft Medium';
  src: url('../assets/fonts/qanelas-soft/QanelasSoftMedium.otf') format('opentype');
}

@font-face {
  font-family: 'Qanelas Soft Medium Italic';
  src: url('../assets/fonts/qanelas-soft/QanelasSoftMediumItalic.otf') format('opentype');
}

@font-face {
  font-family: 'Qanelas Soft';
  src: url('../assets/fonts/qanelas-soft/QanelasSoftRegular.otf') format('opentype');
}

@font-face {
  font-family: 'Qanelas Soft Regular Italic';
  src: url('../assets/fonts/qanelas-soft/QanelasSoftRegularItalic.otf') format('opentype');
}

@font-face {
  font-family: 'Qanelas Soft Light';
  src: url('../assets/fonts/qanelas-soft/QanelasSoftLight.otf') format('opentype');
}

@font-face {
  font-family: 'Qanelas Soft Light Italic';
  src: url('../assets/fonts/qanelas-soft/QanelasSoftLightItalic.otf') format('opentype');
}

@font-face {
  font-family: 'Qanelas Soft UltraLight';
  src: url('../assets/fonts/qanelas-soft/QanelasSoftUltraLight.otf') format('opentype');
}

@font-face {
  font-family: 'Qanelas Soft UltraLight Italic';
  src: url('../assets/fonts/qanelas-soft/QanelasSoftUltraLightItalic.otf') format('opentype');
}

@font-face {
  font-family: 'Qanelas Soft Thin';
  src: url('../assets/fonts/qanelas-soft/QanelasSoftThin.otf') format('opentype');
}

@font-face {
  font-family: 'Qanelas Soft Thin Italic';
  src: url('../assets/fonts/qanelas-soft/QanelasSoftThinItalic.otf') format('opentype');
}

body {
  font-family: 'Open Sans';
}
