name: Bump Meshery, Meshery Extensions and Meshery Cloud

on:
  workflow_run:
    workflows: [Publish Node.js Package]
    types:
      - completed

jobs:
  versions-check:
    runs-on: ubuntu-24.04
    outputs:
      current: ${{ steps.current.outputs.VERSION }}
    steps:
      - name: Download Version
        uses: actions/download-artifact@fa0a91b85d4f404e444e00e005971372dc801d16 # v4.1.8
        with:
          name: version-number
          github-token: ${{ secrets.GH_ACCESS_TOKEN }}
          run-id: ${{ github.event.workflow_run.id }}
      - name: Retrieve Version
        run: |
          echo "VERSION=$(cat ./number)" >> $GITHUB_OUTPUT
        id: current
  bump-meshery:
    runs-on: ubuntu-24.04
    needs: versions-check
    steps:
      - name: Checkout Meshery code
        uses: actions/checkout@v4
        with:
          repository: meshery/meshery
          fetch-depth: 1
          token: ${{ secrets.RELEASEDRAFTER_PAT }}
      - uses: actions/setup-node@v4
        with:
          node-version: 18
          cache: "npm"
          cache-dependency-path: '**/package-lock.json'
      - name: Make changes to pull request
        working-directory: ui
        run: npm install @layer5/sistent@${{needs.versions-check.outputs.current}}
      - name: Create Pull Request
        id: cpr
        uses: peter-evans/create-pull-request@v7
        with:
          token: ${{ secrets.RELEASEDRAFTER_PAT }}
          commit-message: Bump sistent v${{ needs.versions-check.outputs.current }} dependencies
          committer: ${{ github.actor }} <${{ github.actor }}@users.noreply.github.com>
          author: ${{ github.actor }} <${{ github.actor }}@users.noreply.github.com>
          signoff: true
          branch: bump-sistent-bot
          delete-branch: true
          title: '[Chore]: Bump Sistent v${{ needs.versions-check.outputs.current }}'
          add-paths: |
            ui/package.json
            ui/package-lock.json
          body: |
            Update to Sistent v${{ needs.versions-check.outputs.current }}
            
            _This pull request has been auto-generated by [l5io](http://github.com/l5io)_
          assignees: l5io
          draft: false
  bump-meshery-extensions:
    runs-on: ubuntu-24.04
    needs: versions-check
    steps:
      - name: Checkout Meshery Extensions code
        uses: actions/checkout@v4
        with:
          repository: layer5labs/meshery-extensions
          fetch-depth: 1
          token: ${{ secrets.RELEASEDRAFTER_PAT }}
      - uses: actions/setup-node@v4
        with:
          node-version: 18
          cache: "npm"
          cache-dependency-path: '**/package-lock.json'
      - name: Make changes to pull request
        working-directory: meshmap
        run: npm install @layer5/sistent@${{needs.versions-check.outputs.current}}
      - name: Create Pull Request
        id: cpr
        uses: peter-evans/create-pull-request@v7
        with:
          token: ${{ secrets.RELEASEDRAFTER_PAT }}
          commit-message: Bump sistent v${{ needs.versions-check.outputs.current }} dependencies
          committer: ${{ github.actor }} <${{ github.actor }}@users.noreply.github.com>
          author: ${{ github.actor }} <${{ github.actor }}@users.noreply.github.com>
          signoff: true
          branch: bump-sistent-bot
          delete-branch: true
          title: '[Chore]: Bump Sistent v${{needs.versions-check.outputs.current }}'
          add-paths: |
            meshmap/package.json
            meshmap/package-lock.json
          body: |
            Update to Sistent v${{ needs.versions-check.outputs.current }}
            
            _This pull request has been auto-generated by [l5io](http://github.com/l5io)_
          assignees: l5io
          draft: false
  bump-layer5:
            runs-on: ubuntu-24.04
            needs: versions-check
            steps:
              - name: Checkout Layer5 code
                uses: actions/checkout@v4
                with:
                  repository: layer5io/layer5
                  fetch-depth: 1
                  token: ${{ secrets.RELEASEDRAFTER_PAT }}
              - uses: actions/setup-node@v4
                with:
                  node-version: 18
                  cache: "npm"
                  cache-dependency-path: '**/package-lock.json'
              - name: Make changes to pull request
                run: npm install @layer5/sistent@${{needs.versions-check.outputs.current}}
              - name: Create Pull Request
                id: cpr
                uses: peter-evans/create-pull-request@v7
                with:
                  token: ${{ secrets.RELEASEDRAFTER_PAT }}
                  commit-message: Bump sistent v${{ needs.versions-check.outputs.current }} dependencies
                  committer: ${{ github.actor }} <${{ github.actor }}@users.noreply.github.com>
                  author: ${{ github.actor }} <${{ github.actor }}@users.noreply.github.com>
                  signoff: true
                  branch: bump-sistent-bot
                  delete-branch: true
                  title: '[Chore]: Bump Sistent v${{ needs.versions-check.outputs.current }}'
                  add-paths: |
                    package.json
                    package-lock.json
                  body: |
                    Update to Sistent v${{ needs.versions-check.outputs.current }}
                    
                    _This pull request has been auto-generated by [l5io](http://github.com/l5io)_
                  assignees: l5io
                  draft: false
  bump-meshery-cloud:
    runs-on: ubuntu-24.04
    needs: versions-check
    steps:
      - name: Checkout Meshery Extensions code
        uses: actions/checkout@v4
        with:
          repository: layer5io/meshery-cloud
          fetch-depth: 1
          token: ${{ secrets.RELEASEDRAFTER_PAT }}
      - uses: actions/setup-node@v4
        with:
          node-version: 18
          cache: "npm"
          cache-dependency-path: '**/package-lock.json'
      - name: Make changes to pull request
        working-directory: ui
        run: npm install @layer5/sistent@${{needs.versions-check.outputs.current}}
      - name: Create Pull Request
        id: cpr
        uses: peter-evans/create-pull-request@v7
        with:
          token: ${{ secrets.RELEASEDRAFTER_PAT }}
          commit-message: Bump sistent v${{ needs.versions-check.outputs.current }} dependencies
          committer: ${{ github.actor }} <${{ github.actor }}@users.noreply.github.com>
          author: ${{ github.actor }} <${{ github.actor }}@users.noreply.github.com>
          signoff: true
          branch: bump-sistent-bot
          delete-branch: true
          title: '[Chore]: Bump Sistent v${{ needs.versions-check.outputs.current }}'
          add-paths: |
            ui/package.json
            ui/package-lock.json
          body: |
            Update to Sistent v${{ needs.versions-check.outputs.current }}
            
            _This pull request has been auto-generated by [l5io](http://github.com/l5io)_
          assignees: l5io
          draft: false
