name: Bump Meshery, Meshery Extensions and Meshery Cloud

on:
  release:
    types: [published]

jobs:
  bump-meshery:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Meshery code
        uses: actions/checkout@v4
        with:
          repository: meshery/meshery
          fetch-depth: 1
          token: ${{ secrets.RELEASEDRAFTER_PAT }}
      - uses: actions/setup-node@v4
        with:
          node-version: 18
          cache: "npm"
          cache-dependency-path: '**/package-lock.json'
      - name: Make changes to pull request
        working-directory: ui
        run: npm install @layer5/sistent@latest
      - name: Create Pull Request
        id: cpr
        uses: peter-evans/create-pull-request@v7
        with:
          token: ${{ secrets.RELEASEDRAFTER_PAT }}
          commit-message: Bump sistent ${{ github.event.release.tag_name }} dependencies
          committer: ${{ github.actor }} <${{ github.actor }}@users.noreply.github.com>
          author: ${{ github.actor }} <${{ github.actor }}@users.noreply.github.com>
          signoff: true
          branch: bump-sistent-bot
          delete-branch: true
          title: '[Chore]: Bump ${{ github.event.release.name }}'
          add-paths: |
            ui/package.json
            ui/package-lock.json
          body: |
            Update to Sistent ${{ github.event.release.tag_name }}
            
            _This pull request has been auto-generated by [l5io](http://github.com/l5io)_
          assignees: l5io
          draft: false
  bump-meshery-extensions:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Meshery Extensions code
        uses: actions/checkout@v4
        with:
          repository: layer5labs/meshery-extensions
          fetch-depth: 1
          token: ${{ secrets.RELEASEDRAFTER_PAT }}
      - uses: actions/setup-node@v4
        with:
          node-version: 18
          cache: "npm"
          cache-dependency-path: '**/package-lock.json'
      - name: Make changes to pull request
        working-directory: meshmap
        run: npm install @layer5/sistent@latest
      - name: Create Pull Request
        id: cpr
        uses: peter-evans/create-pull-request@v7
        with:
          token: ${{ secrets.RELEASEDRAFTER_PAT }}
          commit-message: Bump sistent ${{ github.event.release.tag_name }} dependencies
          committer: ${{ github.actor }} <${{ github.actor }}@users.noreply.github.com>
          author: ${{ github.actor }} <${{ github.actor }}@users.noreply.github.com>
          signoff: true
          branch: bump-sistent-bot
          delete-branch: true
          title: '[Chore]: Bump ${{ github.event.release.name }}'
          add-paths: |
            meshmap/package.json
            meshmap/package-lock.json
          body: |
            Update to Sistent ${{ github.event.release.tag_name }}
            
            _This pull request has been auto-generated by [l5io](http://github.com/l5io)_
          assignees: l5io
          draft: false
  bump-meshery-cloud:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Meshery Extensions code
        uses: actions/checkout@v4
        with:
          repository: layer5io/meshery-cloud
          fetch-depth: 1
          token: ${{ secrets.RELEASEDRAFTER_PAT }}
      - uses: actions/setup-node@v4
        with:
          node-version: 18
          cache: "npm"
          cache-dependency-path: '**/package-lock.json'
      - name: Make changes to pull request
        working-directory: ui
        run: npm install @layer5/sistent@latest
      - name: Create Pull Request
        id: cpr
        uses: peter-evans/create-pull-request@v7
        with:
          token: ${{ secrets.RELEASEDRAFTER_PAT }}
          commit-message: Bump sistent ${{ github.event.release.tag_name }} dependencies
          committer: ${{ github.actor }} <${{ github.actor }}@users.noreply.github.com>
          author: ${{ github.actor }} <${{ github.actor }}@users.noreply.github.com>
          signoff: true
          branch: bump-sistent-bot
          delete-branch: true
          title: '[Chore]: Bump ${{ github.event.release.name }}'
          add-paths: |
            ui/package.json
            ui/package-lock.json
          body: |
            Update to Sistent ${{ github.event.release.tag_name }}
            
            _This pull request has been auto-generated by [l5io](http://github.com/l5io)_
          assignees: l5io
          draft: false
