name: Bump Meshery, Meshery Extensions and Meshery Cloud

on:
  workflow_dispatch:
    inputs:
      release-version:
        description: "Release Version"
        required: true
        default: "1.0.0"
        type: string
  workflow_run:
    workflows: [Publish Node.js Package]
    types:
      - completed

jobs:
  bump-meshery:
    runs-on: ubuntu-24.04
    if: ${{ github.event.workflow_run.conclusion == 'success' && github.event.workflow_run.output.release-version }}
    steps:
      - name: Checkout Meshery code
        uses: actions/checkout@v6
        with:
          repository: meshery/meshery
          fetch-depth: 1
          token: ${{ secrets.GH_ACCESS_TOKEN }}
      - uses: actions/setup-node@v6
        with:
          node-version: '20.x'
          cache: "npm"
          cache-dependency-path: '**/package-lock.json'
      - name: Make changes to pull request
        working-directory: ui
        run: npm install @sistent/sistent@${{ github.event.workflow_run.output.release-version }}
      - name: Create Pull Request
        id: cpr
        uses: peter-evans/create-pull-request@v8
        with:
          token: ${{ secrets.GH_ACCESS_TOKEN }}
          commit-message: Update to Sistent v${{ github.event.workflow_run.output.release-version }} dependencies
          committer: ${{ github.actor }} <${{ github.actor }}@users.noreply.github.com>
          author: ${{ github.actor }} <${{ github.actor }}@users.noreply.github.com>
          signoff: true
          branch: bump-sistent-bot
          delete-branch: true
          title: '[Chore]: Update to Sistent v${{ github.event.workflow_run.output.release-version }}'
          add-paths: |
            ui/package.json
            ui/package-lock.json
          body: |
            Update to Sistent v${{ github.event.workflow_run.output.release-version }}

            _This pull request has been auto-generated by [l5io](http://github.com/l5io)_
          assignees: l5io
          draft: false

  bump-meshery-extensions:
    runs-on: ubuntu-latest
    if: ${{ github.event.workflow_run.conclusion == 'success' && github.event.workflow_run.output.release-version }}
    steps:
      - name: Checkout Meshery Extensions code
        uses: actions/checkout@v6
        with:
          repository: layer5labs/meshery-extensions
          fetch-depth: 1
          token: ${{ secrets.GH_ACCESS_TOKEN }}
      - uses: actions/setup-node@v6
        with:
          node-version: '20.x'
          cache: "npm"
          cache-dependency-path: '**/package-lock.json'
      - name: Make changes to pull request
        working-directory: meshmap
        run: npm install @sistent/sistent@${{ github.event.workflow_run.output.release-version }}
      - name: Create Pull Request
        id: cpr
        uses: peter-evans/create-pull-request@v8
        with:
          token: ${{ secrets.GH_ACCESS_TOKEN }}
          commit-message: Update to Sistent v${{ github.event.workflow_run.output.release-version }} dependencies
          committer: ${{ github.actor }} <${{ github.actor }}@users.noreply.github.com>
          author: ${{ github.actor }} <${{ github.actor }}@users.noreply.github.com>
          signoff: true
          branch: bump-sistent-bot
          delete-branch: true
          title: '[Chore]: Update to Sistent v${{needs.versions-check.outputs.current }}'
          add-paths: |
            meshmap/package.json
            meshmap/package-lock.json
          body: |
            Update to Sistent v${{ github.event.workflow_run.output.release-version }}

            _This pull request has been auto-generated by [l5io](http://github.com/l5io)_
          assignees: l5io
          draft: false

  bump-layer5:
    runs-on: ubuntu-latest
    if: ${{ github.event.workflow_run.conclusion == 'success' && github.event.workflow_run.output.release-version }}

    steps:
      - name: Checkout Layer5 code
        uses: actions/checkout@v6
        with:
          repository: layer5io/layer5
          fetch-depth: 1
          token: ${{ secrets.GH_ACCESS_TOKEN }}
      - uses: actions/setup-node@v6
        with:
          node-version: '20.x'
          cache: "npm"
          cache-dependency-path: '**/package-lock.json'
      - name: Make changes to pull request
        run: npm install @sistent/sistent@${{ github.event.workflow_run.output.release-version }} --legacy-peer-deps
      - name: Create Pull Request
        id: cpr
        uses: peter-evans/create-pull-request@v8
        with:
          token: ${{ secrets.GH_ACCESS_TOKEN }}
          commit-message: Bump sistent v${{ github.event.workflow_run.output.release-version }} dependencies
          committer: ${{ github.actor }} <${{ github.actor }}@users.noreply.github.com>
          author: ${{ github.actor }} <${{ github.actor }}@users.noreply.github.com>
          signoff: true
          branch: bump-sistent-bot
          delete-branch: true
          title: '[Chore]: Update to Sistent v${{ github.event.workflow_run.output.release-version }}'
          add-paths: |
            package.json
            package-lock.json
          body: |
            Update to Sistent v${{ github.event.workflow_run.output.release-version }}

            _This pull request has been auto-generated by [l5io](http://github.com/l5io)_
          assignees: l5io
          draft: false

  bump-meshery-cloud:
    runs-on: ubuntu-latest
    if: ${{ github.event.workflow_run.conclusion == 'success' && github.event.workflow_run.output.release-version }}
    steps:
      - name: Checkout Meshery Extensions code
        uses: actions/checkout@v6
        with:
          repository: layer5io/meshery-cloud
          fetch-depth: 1
          token: ${{ secrets.GH_ACCESS_TOKEN }}
      - uses: actions/setup-node@v6
        with:
          node-version: '20.x'
          cache: "npm"
          cache-dependency-path: '**/package-lock.json'
      - name: Make changes to pull request
        working-directory: ui
        run: npm install @sistent/sistent@${{ github.event.workflow_run.output.release-version }}
      - name: Create Pull Request
        id: cpr
        uses: peter-evans/create-pull-request@v8
        with:
          token: ${{ secrets.GH_ACCESS_TOKEN }}
          commit-message: Update to Sistent v${{ github.event.workflow_run.output.release-version }} dependencies
          committer: ${{ github.actor }} <${{ github.actor }}@users.noreply.github.com>
          author: ${{ github.actor }} <${{ github.actor }}@users.noreply.github.com>
          signoff: true
          branch: bump-sistent-bot
          delete-branch: true
          title: '[Chore]: Update to Sistent v${{ github.event.workflow_run.output.release-version }}'
          add-paths: |
            ui/package.json
            ui/package-lock.json
          body: |
            Update to Sistent v${{ github.event.workflow_run.output.release-version }}

            _This pull request has been auto-generated by [l5io](http://github.com/l5io)_
          assignees: l5io
          draft: false
