name: Publish NPM Package

on:
  release:
    types: [published]
    branches:
      - 'v-*'
      - master
  workflow_dispatch:
    inputs:
      release-type:
        required: true

concurrency: ${{ github.workflow }}-${{ github.ref }}

jobs:
  build:
    name: Build
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Repo
        uses: actions/checkout@v4

      - name: Setup Node.js 18.x
        uses: actions/setup-node@v3
        with:
          node-version: 18

      - name: Install deps and build
        run: |
          yarn
          yarn build-all

  publish-gpr:
    needs: build
    runs-on: ubuntu-latest
    permissions:
      contents: write
      packages: write
    steps:
      - name: Checkout Repo
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Setup Node.js 18.x
        uses: actions/setup-node@v3
        with:
          node-version: 18
          registry-url: "https://registry.npmjs.org"
          scope: "@layer5"
          
      - name: Install deps and build
        run: |
          yarn
          
      - name: Publish to npm
        run: |
            git config user.name "${{ github.actor }}"
            git config user.email "${{ github.actor}}@users.noreply.github.com"

            if [ ${{ github.base_ref }} = development ]; then
            HUSKY=0 npx lerna version --no-private --conventional-commits --conventional-prerelease --preid beta --yes
            else
            HUSKY=0 npx lerna version --no-private --conventional-commits --yes
            fi
            
            HUSKY=0 npx lerna publish from-git --yes
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          NPM_TOKEN: ${{ secrets.NPM_TOKEN }}
