# This workflow will run tests using node and then publish a package to GitHub Packages when a release is created
# For more information see: https://docs.github.com/en/actions/publishing-packages/publishing-nodejs-packages

name: Publish Node.js Package

on:
  release:
    types: [published]
env:
  HUSKY: 0

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-node@v3
        with:
          node-version: '20.x'

  publish-gpr:
    needs: build
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write
    steps:
      - uses: actions/checkout@v4

      - name: "Set Package Version"
        uses: reedyuk/npm-version@1.1.1
        with:
          version: ${{ github.event.release.tag_name }}

      - uses: actions/setup-node@v3
        with:
          node-version: '20.x'
          registry-url: "https://registry.npmjs.org"
          scope: "@layer5"
      - run: |
          npm install
          npm run build
          npm publish --verbose
        env:
          NODE_AUTH_TOKEN: ${{ secrets.NPM_TOKEN }}
  versions-check:
    needs: publish-gpr
    runs-on: ubuntu-latest
    steps:
      - uses: actions/github-script@v7
        id: versions
        with:
          result-encoding: string
          script: |
            let str = `${{github.event.release.tag_name}}`

            return str.replace(/^v/, '')
      - name: Save Release number
        if: ${{ !cancelled() }}
        run: |
          mkdir -p ./version
          echo ${{ steps.versions.outputs.result }} > ./version/number
      - name: Upload Version Report
        if: ${{ !cancelled() }}
        uses: actions/upload-artifact@834a144ee995460fba8ed112a2fc961b36a5ec5a # v4.3.6
        with:
          name: version-number
          path: |
            version/number
          retention-days: 14